@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.window-mask {
  mask-image: linear-gradient(black, black), url("/circle.svg");
  mask-composite: exclude;
  mask-size: auto 200px auto;
  mask-repeat: no-repeat;
  mask-position: center 20%;
  -webkit-mask-repeat: no-repeat;
}
